*{
    margin: 0;
    box-sizing: border-box;
}
.body{
    font-family: 'Open Sans', sans-serif;
    
}
.navbar{
    height: 72.5px;
    background-color: #37517e;
    display: flex;
    position: fixed;
    z-index: 2;
    
}
.navbar .logo h1{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
    margin-left: 78.5px;
    padding: 12px;
    cursor: pointer;
    
}
.navbar .menu{
    display: flex;
    width: 86vw;
    justify-content: end;
}
.navbar .menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    height: 72.5px;
    
    margin-right: 78.5px;
}
.navbar .menu ul li{
    display: flex;
}
.navbar .menu ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding-right: 30px;
    color: #fff;
    cursor: pointer;
    
}
#home{
    color: #47b2e4;
}
.navbar .menu ul li button{
    padding: 8px 20px;
    background-color: transparent;
    border: 2px solid #47b2e4;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    
}
.navbar .menu ul li button:hover{
    background-color:#47b2e4 ;
    transition: 0.3s;
    
}
.main{
    background-color:#37517e ;
    height: 80h;
}
.main .left h1{
    font-size: 48px;
    font-weight: 750;
    line-height: 56px;
    color: #fff;
    font-family: jost;
    padding-top: 75px;
}
.main .left h3{
    color:rgba(255, 255, 255, 0.6);
    font-size: 24px;
    font-family: jost;
    line-height: 1.2;
    line-break: 1.1;
}
.main .left .buttons button{
    padding: 12px 28px;
    background-color: #47b2e4;
    letter-spacing: 1px;
    border: 2px solid #47b2e4;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    
}
.main .left .buttons button:hover{
    
    padding: 12px 28px;
    background-color: #2b89b4;
    letter-spacing: 1px;
    border: 2px solid #2b89b4;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s;
}
#play{
    margin-left: 20px;
    cursor: pointer;
}
#play:hover{
    transition: 0.3s;
    fill:#2b89b4 ;
}
.main .left span{
    margin-left: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.main .right{
    margin-left: 20px;
}
.main .right img{
    width: 546px;
    height: 452px;
    z-index: 3;
}
body:hover .right img {
    animation: top-bot 5s infinite ;
}

.product{
    padding-top: 10vh;
    width: 85vw;
    margin: auto;
    position: relative;
    display: flex;
}
.left .buttons{
    display: flex;
    align-items: center;
    padding-top: 50px;
}
.sponsor{
    height: 16vh;
    background-color: #f3f5fa;
    width: 100%;
    display:flex ;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}
.sponsor img{
    width: 75px;
    filter: grayscale(100);
    cursor: pointer;
}
.img1:hover{
    transform: scale(1.2);
    filter: none;
    transition: 0.4s ease-in-out;
}
.img2:hover{
    transform: scale(1.2);
    filter: none;
    transition: 0.4s ease-in-out;
}
.img3:hover{
    transform: scale(1.2);
    filter: none;
    transition: 0.4s ease-in-out;
}
.img4:hover{
    transform: scale(1.2);
    filter: none;
    transition: 0.4s ease-in-out;
}
.img5:hover{
    transform: scale(1.2);
    filter: none;
    transition: 0.4s ease-in-out;
}
.img6:hover{
    transform: scale(1.2);
    filter: none;
    transition: 0.4s ease-in-out;
}
.aboutus{
    height: 25vh;
    position: relative;
}
.aboutus h1{
    padding-top: 10vh;
    color: #37517e;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: jost;
    text-align: center;
}
.line2{
    position: relative;
    
    border: 0;
    background-color: #00aaf8;
    width: 40px;
    height: 3px;
    margin: auto;
    z-index: 3;
    
    
    
}
.line1{
    position: relative;
    margin: auto;
    width: 120px;
    height: 1px;
    background-color: #ddd;
    z-index: 2;
    left: 620px;
    top: 112px;
    position: absolute;
    border: 0;
}
.abt-txt {
    display: flex;
    height: 40vh;
}
.abt-txt .left{
    width: 50%;
    padding-left: 105px;
}
.abt-txt .left p,span{
    font-size: 1.2rem;
    color: #343a40;
    line-height: 1.3;
    font-family: jost;
}
#check{
    font-size: 28px;
    
    color: #00aaf8;
}
.abt-txt .left .span1{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.abt-txt .left .span1 span{
    margin-left: 10px;
}
.abt-txt .left .span2{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.abt-txt .left .span2 span{
    margin-left: 10px;
}
.abt-txt .left .span3{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.abt-txt .left .span3 span{
    margin-left: 10px;
}
.abt-txt .right{
    width: 50%;
}
.abt-txt .right p{
    font-size: 1.2rem;
    color: #343a40;
    line-height: 1.3;
    font-family: jost;
}
.abt-txt .right button{
    background-color: transparent;
    border: 2px solid #00aaf8;
    padding: 8px 32px;
    border-radius: 5px;
    font-family: jost;
    color: #00aaf8;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
    cursor: pointer;
}
.abt-txt .right button:hover{
    background-color: #00aaf8;
    transition: 0.4s;
    color: #fff;
}

















@keyframes top-bot{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0px)
    }
}
