*{
    margin: 0;
    box-sizing: border-box;
}
.body{
    font-family: 'jost', sans-serif;
    
}
.navbar{
    height: 72.5px;
    background-color: #37517e;
    display: flex;
    position: fixed;
    z-index: 2;
    width: 100%;
}
.navbar .logo h1{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
    margin-left: 10%;
    padding: 12px;
    cursor: pointer;
    
}
.navbar .menu{
    display: flex;
    width: 86vw;
    justify-content: end;
}
.navbar .menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    height: 72.5px;
    
    margin-right: 78.5px;
}
.navbar .menu ul li{
    display: flex;
}
.navbar .menu ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding-right: 30px;
    color: #fff;
    cursor: pointer;
    
}
#home{
    color: #47b2e4;
}
.navbar .menu ul li button{
    padding: 8px 20px;
    background-color: transparent;
    border: 2px solid #47b2e4;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    
}
.navbar .menu ul li button:hover{
    background-color:#47b2e4 ;
    transition: 0.3s;
    
}
.main{
    background-color:#37517e ;
    height: 80h;
    width: 100%;
}
.main .left h1{
    font-size: 48px;
    font-weight: 750;
    line-height: 56px;
    color: #fff;
    font-family: jost;
    padding-top: 75px;
}
.main .left h3{
    color:rgba(255, 255, 255, 0.6);
    font-size: 24px;
    font-family: jost;
    line-height: 1.2;
    line-break: 1.1;
}

.main .left .buttons button{
    padding: 12px 28px;
    background-color: #47b2e4;
    letter-spacing: 1px;
    border: 2px solid #47b2e4;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    
}
.main .left .buttons button:hover{
    
    padding: 12px 28px;
    background-color: #2b89b4;
    letter-spacing: 1px;
    border: 2px solid #2b89b4;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s;
}
#play{
    margin-left: 20px;
    cursor: pointer;
}
#play:hover{
    transition: 0.3s;
    fill:#2b89b4 ;
}
.main .left span{
    margin-left: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.main .right{
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.main .right img{
    width: 100%;
    
    z-index: 3;
}
body:hover .right img {
    animation: top-bot 5s infinite ;
}

.product{
    padding-top: 10vh;
    width: 85vw;
    margin: auto;
    position: relative;
    display: flex;
}
.left .buttons{
    display: flex;
    align-items: center;
    padding-top: 50px;
}
.sponsor{
    height: 16vh;
    background-color: #f3f5fa;
    width: 100%;
    display:flex ;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}
.sponsor img{
    width: 75px;
    filter: grayscale(100);
    cursor: pointer;
}
.img1:hover{
    transform: scale(1.2);
    filter: none;
    transition: 0.4s ease-in-out;
}
.img2:hover{
    transform: scale(1.2);
    filter: none;
    transition: 0.4s ease-in-out;
}
.img3:hover{
    transform: scale(1.2);
    filter: none;
    transition: 0.4s ease-in-out;
}
.img4:hover{
    transform: scale(1.2);
    filter: none;
    transition: 0.4s ease-in-out;
}
.img5:hover{
    transform: scale(1.2);
    filter: none;
    transition: 0.4s ease-in-out;
}
.img6:hover{
    transform: scale(1.2);
    filter: none;
    transition: 0.4s ease-in-out;
}
.aboutus{
    height: 25vh;
    position: relative;
}
.aboutus h1{
    padding-top: 10vh;
    color: #37517e;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: jost;
    text-align: center;
}
.line2{
    position: relative;
    
    border: 0;
    background-color: #00aaf8;
    width: 40px;
    height: 3px;
    margin: auto;
    z-index: 3;
    
    
    
}
.line1{
    position: relative;
    margin: auto;
    width: 120px;
    height: 1px;
    background-color: #ddd;
    z-index: 2;
    
    
    border: 0;
}

.abt-txt {
    display: flex;
    height: 40vh;
}
.abt-txt .left{
    width: 50%;
    padding-left: 105px;
}
.abt-txt .left p,span{
    font-size: 1.2rem;
    color: #343a40;
    line-height: 1.3;
    font-family: jost;
}
#check123{
    font-size: 20px;
    
    color: #00aaf8;
}
.abt-txt .left .span1{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.abt-txt .left .span1 span{
    margin-left: 10px;
}
.abt-txt .left .span2{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.abt-txt .left .span2 span{
    margin-left: 10px;
}
.abt-txt .left .span3{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.abt-txt .left .span3 span{
    margin-left: 10px;
}
.abt-txt .right{
    width: 50%;
}
.abt-txt .right p{
    font-size: 1.2rem;
    color: #343a40;
    line-height: 1.3;
    font-family: jost;
    padding-right: 110px;
}
.abt-txt .right button{
    background-color: transparent;
    border: 2px solid #00aaf8;
    padding: 8px 32px;
    border-radius: 5px;
    font-family: jost;
    color: #00aaf8;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
    cursor: pointer;
}
.abt-txt .right button:hover{
    background-color: #00aaf8;
    transition: 0.4s;
    color: #fff;
}
.hero{
    background-color: #f3f5fa;
    height: 100vh;
    display: flex;
}
.hero .left{
    width: 50%;
    padding-top: 110px;
    padding-left: 110px;
}
.hero .left h1{
    font-family: jost;
    color: #37517e;
    font-size: 34px;
    font-weight: 400;
}
.hero .left p{
    color: #848484;
    font-size: 18px;
    word-spacing: 1px;
    line-height: 1.2;
    font-family: jost;
    margin-top: 15px;
}
.hero .left .col1{
    width: 560px;
    background-color: #fff;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-top: 20px;
}
.hero .left .col1 h3{
    color: #00aaf8;
    font-size: 20px;
}
.hero .left .col1 h2{
    font-size:20px;
    color: #383c3f;
    font-weight: 600;
    font-family: jost;
    padding-right: 30px;
    padding-left: 20px;
}
#down1{
    color: black;
    font-size: 22px;
    padding-left: 20px;
}
.hero .left .col1:hover h2{
    color: #00aaf8;
}
.hero .left .col1:hover #down1{
    color: #00aaf8;
}
.hero .left .col2{
    width: 560px;
    background-color: #fff;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-top: 20px;
}
.hero .left .col2 h3{
    color: #00aaf8;
    font-size: 20px;
}
.hero .left .col2 h2{
    font-size:20px;
    color: #383c3f;
    font-weight: 600;
    font-family: jost;
    padding-right: 30px;
    padding-left: 20px;
}
#down2{
    color: black;
    font-size: 22px;
    padding-left: 42px;
}
.hero .left .col2:hover h2{
    color: #00aaf8;
}
.hero .left .col2:hover #down2{
    color: #00aaf8;
}
.hero .left .col3{
    width: 560px;
    background-color: #fff;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-top: 20px;
}
.hero .left .col3 h3{
    color: #00aaf8;
    font-size: 20px;
}
.hero .left .col3 h2{
    font-size:20px;
    color: #383c3f;
    font-weight: 600;
    font-family: jost;
    padding-right: 30px;
    padding-left: 20px;
}
#down3{
    color: black;
    font-size: 22px;
    padding-left: 65px;
}
.hero .left .col3:hover h2{
    color: #00aaf8;
}
.hero .left .col3:hover #down3{
    color: #00aaf8;
}
.hero .right1{
    width: 50%;
    display: flex;
    align-items: center;
}
.hero .right1 img{
    height: 50%;
    
    margin-left: 5%;
}
.skills{
    height: 100vh;
    display: flex;
}
.skills .left{
    width: 50%;
}
.skills .left img{
    width: 80%;
    margin-left: 100px;
    margin-top: 100px;
}
.skills .right{
    padding-top: 40px;
    width: 37%;
}
.skills .right h1{
    font-size: 2.2rem;
    color: #37517e;
    line-height: 1.3;
    font-family: jost;
    font-weight:900;
}
.skills .right p{
    color: #848484;
    font-size: 18px;
    word-spacing: 1px;
    line-height: 1.1;
    font-family: jost;
    margin-top: 15px;
}
.skills .right .row1{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-top: 30px;
}
#right1{
    
    color: #37517e;
    margin-left: auto;
}
#left1{
    color: #37517e;
    font-size: 16px;
    
}
.skills .right  .col1{
    width: 100%;
    height: 10px;
    background-color:#37517e ;
    display: block;
}
.skills .right  .col2{
    width: 90%;
    height: 10px;
    background-color:#37517e ;
    display: flex;
}
.skills .right .col2v2{
    width: 10%;
    height: 10px;
    background-color: #f8d9d9;
    display: flex;
}
.skills .right .row2{
    display: flex;
    align-items: center;
    width: 100%;
    
    margin-top: 30px;
}
.skills .right .row{
    display: flex;
}
.skills .right  .col3{
    width: 70%;
    height: 10px;
    background-color:#37517e ;
    display: flex;
}
.skills .right .col3v3{
    width: 30%;
    height: 10px;
    background-color: #f8d9d9;
    display: flex;
}
.skills .right .row3{
    display: flex;
    align-items: center;
    width: 100%;
    
    margin-top: 30px;
}
.skills .right  .col4{
    width: 55%;
    height: 10px;
    background-color:#37517e ;
    display: flex;
}
.skills .right .col4v4{
    width: 45%;
    height: 10px;
    background-color: #f8d9d9;
    display: flex;
}
.skills .right .row4{
    display: flex;
    align-items: center;
    width: 100%;
    
    margin-top: 30px;
}
.services{
    background-color: #f3f5fa;
    height: 75vh;
    position:relative ;
}
.services h1{
    padding-top: 10vh;
    color: #37517e;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: jost;
    text-align: center;
}
.line3{
    
    margin: auto;
    width: 120px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    
    border: 0;
}
.services p{
    color: #848484;
    font-size: 18px;
    word-spacing: 1px;
    line-height: 1.1;
    font-family: jost;
    margin-top: 15px;
    width: 80%;
    margin-left: 10%;
}
.services .box1{
    background-color: #fff;
    width: 250px;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}
.services .box1 h1{
    font-size: 1.3rem;
    font-family: jost;
    padding-right: 70px;
    padding-top: 90px;
}
#txt1{
    padding-left: 25px;
}
#clock{
    color: #00aaf8;
    margin-left: 30px;
    position: absolute;
    top: 40px;
    font-size: 30px;
}

#block{
    color: #00aaf8;
    margin-left: 30px;
    position: absolute;
    top: 40px;
    font-size: 30px;
}
.services .boxes{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;
}
#ball{
    color: #00aaf8;
    margin-left: 30px;
    position: absolute;
    top: 40px;
}
#card1{
    font-size: 30px;
    color: #00aaf8;
    margin-left: 30px;
    position: absolute;
    top: 40px;
}
.boxes .box1:hover{
    transform: translateY(-10px);
    transition: 0.4s ease-in-out;
}
.boxes .box1:hover h1{
    color: #00aaf8;
}
.action{
    background-image: url("https://vision-more.com/wp-content/uploads/2021/01/CTA-bg-1.jpg");
min-height: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;

opacity: 0.7;
height: 45vh;

}
.action .blue{
    background-color: rgba(1, 1, 77, 0.9);
    height: 45vh;
    
}
.action .blue .top1 h1{
    color: #fff;
    padding-left: 100px;
    padding-top: 100px;
}
.action .blue .bot1{
    display: flex;
}
.action .blue .bot1 .left2 p{
    color: #fff;
    font-size: 18px;
    word-spacing: 1px;
    line-height: 1.1;
    font-family: jost;
width: 75%;
padding-left: 100px;
}
.action .blue .bot1 .right2 button{
    padding: 12px 28px;
    background-color: transparent;
    letter-spacing: 1px;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 50px;
    width: 180px;
    height: 55px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    margin-right: 130px;
    
}
.action .blue .bot1 .right2 button:hover{
    background-color: #00aaf8;
    border-color: #00aaf8;
    transition: 0.4s;
}
.portfolio{
    background-color: #fff;
    height: 100vh;
    position: relative;
}

.portfolio .top h1{
    padding-top: 10vh;
    color: #37517e;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: jost;
    text-align: center;
}
.portfolio .top p{
    color: #848484;
    font-size: 18px;
    word-spacing: 1px;
    line-height: 1.1;
    font-family: jost;
    margin-top: 15px;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}
.portfolio .buttons {
    display: flex;
    width: 25%;
    justify-content: space-between;
    margin-left: 37.5%;
    margin-top: 25px;
}
.portfolio .buttons button{
    border: 0;
    background-color: transparent;
    font-size: 17px;
    font-family: jost;
    font-weight: 600;
    cursor: pointer;
    width: 70px;
    height: 30px;
    border-radius: 50px;
}
.portfolio .buttons button:hover{
    background-color: #00aaf8;
    border: 1px solid #00aaf8;
    transition: 0.1s;
}
#frstbtn{
    background-color: #00aaf8;
    border: 1px solid #00aaf8;
}
.imgs{
    margin-left: 8%;
    margin-top: 5vh;
    position: relative;
    width: 84%;
    height: 165vh;
    
    display: flex;
}
.imgs .img11{
    overflow: hidden;
    width: 360px;
    height: 370px;
}
.imgs .img11 img{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.imgs .img11:hover img{
    transform: scale(1.1);
    transition: 0.5s;
}
.imgs .img12 img{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.imgs .img12{
    overflow: hidden;
    width: 360px;
    height: 260px;
    position: absolute;
    left: 386px;
}
.imgs .img12:hover img{
    transform: scale(1.1);
    transition: 0.5s;
}
.imgs .img13 img{
    background-size: cover;
    width: 100%;
    height: 100%;
}
.imgs .img13{
    width: 360px;
    height: 220px;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}
.imgs .img13:hover img{
    transform: scale(1.1);
    transition: 0.5s;
}
.imgs .img14 img{
    background-size: cover;
    width: 100%;
    height: 100%;
}
.imgs .img14{
    overflow: hidden;
    width: 360px;
    height: 500px;
    position: absolute;
    top: 396px;
    left: 0;
}
.imgs .img14:hover img{
    transform: scale(1.1);
    transition: 0.5s;
}
.imgs .img15 img{
    
    background-size: cover;
    width: 100%;
    height: 100%;
}
.imgs .img15{
    overflow: hidden;
    width: 360px;
    height: 500px;
    position: absolute;
    left: 386px;
    top: 286px;
}
.imgs .img15:hover img{
    transform: scale(1.1);
    transition: 0.5s;
}
.imgs .img16 img{
    background-size: cover;
    width: 100%;
    height: 100%;

}
.imgs .img16{
    overflow: hidden;
    width: 360px;
    height: 230px;
    position: absolute;
    top: 246px;
    right: 0;
    
}
.imgs .img16:hover img{
    transform: scale(1.1);
    transition: 0.5s;
}
.imgs .img17 img{
    background-size: cover;
    width: 100%;
    height: 100%;
}
.imgs .img17{
    overflow: hidden;
    width: 360px;
    height: 230px;
    position: absolute;
    top: 502px;
    right: 0;
}
.imgs .img17:hover img{
    transform: scale(1.1);
    transition: 0.5s;
}
.imgs .img18 img{
    background-size: cover;
    width: 100%;
    height: 100%;
}
.imgs .img18{
    overflow: hidden;
    width: 360px;
    height: 230px;
    position: absolute;
    left: 386px;
    top: 812px;
}
.imgs .img18:hover img{
    transform: scale(1.1);
    transition: 0.5s;
}
.imgs .img19 img{
    background-size: cover;
    width: 100%;
    height: 100%;
}
.imgs .img19{
    overflow: hidden;
    width: 360px;
    height: 230px;
    position: absolute;
    top: 758px;
    right: 0;
}
.imgs .img19:hover img{
    transform: scale(1.1);
    transition: 0.5s;
    
}
.team {
    margin-top: 105vh;
    height: 105vh;
    background-color: #f3f5fa;
    width: 100%;
    position: relative;
}
.team .top h1{
    padding-top: 10vh;
    color: #37517e;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: jost;
    text-align: center;
}
.team .top p{
    color: #848484;
    font-size: 18px;
    word-spacing: 1px;
    line-height: 1.1;
    font-family: jost;
    margin-top: 15px;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}
.team .people {
    width: 78%;
    height: 30vh;
    margin-left: 11%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.team  .people .guy1{
    width: 515px;
    background-color: #fff;
    height: 200px;
    margin-top: 30px;
    border-radius: 6px;
    display: flex;
}
.team  .people .guy1:hover{
    transform: translateY(-10px);
    transition: 2s;
}
.team  .people .guy1 .pht1{
    width: 200px;
    height: 200px;
}
.team  .people .guy1 .pht1 img{
    width: 150px;
    border-radius: 50%;
    margin: 20px;

}
.team  .people .guy1 .walter p{
    color: #848484;
    font-size: 18px;
    word-spacing: 1px;
    line-height: 1.1;
    font-family: jost;
    margin-top: 15px;
}
.team .people .guy1 .walter .icons10{
    display: flex;
}
.team .people .guy1 .walter .icons10 .icon10{
    margin-left: 7px;
    background-color: #f3f5fa;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.team .people .guy1 .walter .icons10 .icon10:hover{
    background-color: rgb(91, 91, 211);
    color: white;
    transition: 0.4s;
}
.team .people .guy1 .walter hr{
    width: 50px;
    margin-top: 5px;
}
.team .people .guy1 .walter h2{
    color: #37517e;
    font-size: 20px;
    font-weight: 900;
    font-family: jost;
    padding-top: 15px;
}






.team  .people .guy2{
    width: 515px;
    background-color: #fff;
    height: 200px;
    margin-top: 30px;
    border-radius: 6px;
    display: flex;
}
.team  .people .guy2:hover{
    transform: translateY(-10px);
    transition: 2s;
}
.team  .people .guy2 .pht1{
    width: 200px;
    height: 200px;
}
.team  .people .guy2 .pht1 img{
    width: 150px;
    border-radius: 50%;
    margin: 20px;

}
.team  .people .guy2 .walter p{
    color: #848484;
    font-size: 18px;
    word-spacing: 1px;
    line-height: 1.1;
    font-family: jost;
    margin-top: 15px;
}
.team .people .guy2 .walter .icons10{
    display: flex;
}
.team .people .guy2 .walter .icons10 .icon10{
    margin-left: 7px;
    background-color: #f3f5fa;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.team .people .guy2 .walter .icons10 .icon10:hover{
    background-color: rgb(91, 91, 211);
    color: white;
    transition: 0.4s;
}
.team .people .guy2 .walter hr{
    width: 50px;
    margin-top: 5px;
}
.team .people .guy2 .walter h2{
    color: #37517e;
    font-size: 20px;
    font-weight: 900;
    font-family: jost;
    padding-top: 15px;
}

.team .people1 {
    width: 78%;
    height: 30vh;
    margin-left: 11%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.team  .people1 .guy3{
    width: 515px;
    background-color: #fff;
    height: 200px;
    margin-top: 55px;
    border-radius: 6px;
    display: flex;
}
.team  .people1 .guy3:hover{
    transform: translateY(-10px);
    transition: 2s;
}
.team  .people1 .guy3 .pht1{
    width: 200px;
    height: 200px;
}
.team  .people1 .guy3 .pht1 img{
    width: 150px;
    border-radius: 50%;
    margin: 20px;

}
.team  .people1 .guy3 .walter p{
    color: #848484;
    font-size: 18px;
    word-spacing: 1px;
    line-height: 1.1;
    font-family: jost;
    margin-top: 15px;
}
.team .people1 .guy3 .walter .icons10{
    display: flex;
}
.team .people1 .guy3 .walter .icons10 .icon10{
    margin-left: 7px;
    background-color: #f3f5fa;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.team .people1 .guy3 .walter .icons10 .icon10:hover{
    background-color: rgb(91, 91, 211);
    color: white;
    transition: 0.4s;
}
.team .people1 .guy3 .walter hr{
    width: 50px;
    margin-top: 5px;
}
.team .people1 .guy3 .walter h2{
    color: #37517e;
    font-size: 20px;
    font-weight: 900;

    font-family: jost;
    padding-top: 15px;
}


.team  .people1 .guy4{
    width: 515px;
    background-color: #fff;
    height: 200px;
    margin-top: 55px;
    border-radius: 6px;
    display: flex;
}
.team  .people1 .guy4:hover{
    transform: translateY(-10px);
    transition: 2s;
}
.team  .people1 .guy4 .pht1{
    width: 200px;
    height: 200px;
}
.team  .people1 .guy4 .pht1 img{
    width: 150px;
    border-radius: 50%;
    margin: 20px;

}
.team  .people1 .guy4 .walter p{
    color: #848484;
    font-size: 18px;
    word-spacing: 1px;
    line-height: 1.1;
    font-family: jost;
    margin-top: 15px;
}
.team .people1 .guy4 .walter .icons10{
    display: flex;
}
.team .people1 .guy4 .walter .icons10 .icon10{
    margin-left: 7px;
    background-color: #f3f5fa;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.team .people1 .guy4 .walter .icons10 .icon10:hover{
    background-color: rgb(91, 91, 211);
    color: white;
    transition: 0.4s;
}
.team .people1 .guy4 .walter hr{
    width: 50px;
    margin-top: 5px;
}
.team .people1 .guy4 .walter h2{
    color: #37517e;
    font-size: 20px;
    font-weight: 900;

    font-family: jost;
    padding-top: 15px;
}
.pricing{
    width: 100%;
    height: 130vh;
    position: relative;
}
.pricing .top h1{
    padding-top: 10vh;
    color: #37517e;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: jost;
    text-align: center;
}
.pricing .top p{
    color: #848484;
    font-size: 18px;
    word-spacing: 1px;
    line-height: 1.1;
    font-family: jost;
    margin-top: 15px;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}
.pricing .products{
    width: 78%;
    margin-left: 11vw;
    height: 80vh;
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
}
#cross{
    color: #848484;
    font-size: 24px;
    margin-left: 10%;
}
#check{
    color: green;
    font-size: 24px;
    margin-left: 10%;
}

.pricing .products .prod1{
    height: 85vh;
    width: 335px;
    background-color: #fff;
    box-shadow: rgba(197, 188, 188, 0.35) 0px 5px 15px;
}
.pricing .products .prod1 p{
    color: #142e5a;
    font-family: jost;
    font-size: 22px;
    font-weight: 700;
    margin-left: 10%;
    margin-top: 40px;
}
.pricing .products .prod1 h1{
    color: #142e5a;
    font-size: 46px;
    font-weight: 700;
    margin-left: 10%;
    font-family: jost;
}
.pricing .products .prod1 sup{
    font-size: 30px;
}
.pricing .products .prod1 h3{
    color: #47b2e4;
    font-size: 18px;
    font-family: 700;
    margin-left: 10%;
}
.pricing .products .prod1 .row11{
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.pricing .products .prod1 .row13{
    height: 50px;
    display: flex;
    align-items: center;
    
}
.pricing .products .prod1 .row13 span{
    color: #999;
    margin-left: 5px;
    font-size: 18px;
    text-decoration: line-through;
}
.pricing .products .prod1 .row11 span{
    color: #999;
    margin-left: 5px;
    font-size: 18px;
}
.pricing .products .prod1 .row12 span{
    color: #999;
    margin-left: 5px;
    font-size: 18px;
}
.pricing .products .prod1 .row12{
    height: 50px;
    display: flex;
    align-items: center;
}
.pricing .products .prod1 button{

margin-left: 10%;
padding: 12px 28px;
    background-color: #fff;
    letter-spacing: 1px;
    border: 1px solid #47b2e4;
    color: #47b2e4;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}
.pricing .products .prod1 button:hover{
    background-color:#47b2e4 ;
    transition: 0.4s;
    color: #fff;
}

.pricing .products .prod2{
    height: 85vh;
    width: 335px;
    background-color: #fff;
    box-shadow: rgba(197, 188, 188, 0.35) 0px 5px 15px;
    border-top: 4px solid #0177ff ;
    border-radius: 10px;


}
.pricing .products .prod2 p{
    color: #142e5a;
    font-family: jost;
    font-size: 22px;
    font-weight: 700;
    margin-left: 10%;
    margin-top: 40px;
}
.pricing .products .prod2 h1{
    color: #142e5a;
    font-size: 46px;
    font-weight: 700;
    margin-left: 10%;
    font-family: jost;
}
.pricing .products .prod2 sup{
    font-size: 30px;
}
.pricing .products .prod2 h3{
    color: #47b2e4;
    font-size: 18px;
    font-family: 700;
    margin-left: 10%;
}
.pricing .products .prod2 .row11{
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.pricing .products .prod2 .row11 span{
    color: #999;
    margin-left: 5px;
    font-size: 18px;
}
.pricing .products .prod2 .row12 span{
    color: #999;
    margin-left: 5px;
    font-size: 18px;
}
.pricing .products .prod2 .row12{
    height: 50px;
    display: flex;
    align-items: center;
}
.pricing .products .prod2 button{

margin-left: 10%;
padding: 12px 28px;
    background-color: #47b2e4;
    letter-spacing: 1px;
    border: 1px solid #47b2e4;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}
.pricing .products .prod2 button:hover{
    background-color: #0177ff;
    transition: 0.4s
}
.pricing .products .prod3{
    height: 85vh;
    width: 335px;
    background-color: #fff;
    box-shadow: rgba(197, 188, 188, 0.35) 0px 5px 15px;
}
.pricing .products .prod3 p{
    color: #142e5a;
    font-family: jost;
    font-size: 22px;
    font-weight: 700;
    margin-left: 10%;
    margin-top: 40px;
}
.pricing .products .prod3 h1{
    color: #142e5a;
    font-size: 46px;
    font-weight: 700;
    margin-left: 10%;
    font-family: jost;
}
.pricing .products .prod3 sup{
    font-size: 30px;
}
.pricing .products .prod3 h3{
    color: #47b2e4;
    font-size: 18px;
    font-family: 700;
    margin-left: 10%;
}
.pricing .products .prod3 .row11{
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.pricing .products .prod3 .row11 span{
    color: #999;
    margin-left: 5px;
    font-size: 18px;
}
.pricing .products .prod3 .row12 span{
    color: #999;
    margin-left: 5px;
    font-size: 18px;
}
.pricing .products .prod3 .row12{
    height: 50px;
    display: flex;
    align-items: center;
}
.pricing .products .prod3 button{

margin-left: 10%;
padding: 12px 28px;
    background-color: #fff;
    letter-spacing: 1px;
    border: 1px solid #47b2e4;
    color: #47b2e4;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}
.pricing .products .prod3 button:hover{
    background-color: #47b2e4;
    color: #fff;
    transition: 0.4s
}
.questions{
    width: 100%;
    height: 105vh;
    background-color: #f3f5fa;
    position: relative;

}
.questions .top h1{
        padding-top: 10vh;
        color: #37517e;
        font-size: 32px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: jost;
        text-align: center;
}
.questions .top p{
    color: #848484;
    font-size: 18px;
    word-spacing: 1px;
    line-height: 1.1;
    font-family: jost;
    margin-top: 15px;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}
.questions .columns1{
    width: 66%;
    height: 70vh;
    margin-left: 17%;
    margin-top: 7vh;
}
.questions .columns1 .col1{
    width: 100%;
    height: 9vh;
    background-color: #fff;
    margin-top: 4vh;
    box-shadow: rgba(197, 188, 188, 0.35) 0px 5px 15px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    position: relative;
}
.questions .columns1 .col1 p{
    color: #37517e;
    font-size: 18px;
    font-family: jost;
    font-weight: 700;
    margin-left: 10px;
    cursor: pointer;

}
.questions .columns1 .col1 p:hover{
    color: #00aaf8;
}
#help{
    color: #00aaf8;
    margin-left: 20px;
    font-size: 25px;
    cursor: pointer;
}
#down{
    font-size: 25px;
    position: absolute;
    right: 25px;
    cursor: pointer;
}
#down:hover{
    color: #00aaf8;
}
.contact{
    width: 100%;
    height: 140vh;
    position: relative;
}
.contact .top h1{
    padding-top: 10vh;
        color: #37517e;
        font-size: 32px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: jost;
        text-align: center;
}
.contact .top p{
    color: #848484;
    font-size: 18px;
    word-spacing: 1px;
    line-height: 1.1;
    font-family: jost;
    margin-top: 15px;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}
.contact .bot{
    display: flex;
}
.contact .bot .left{
    height: 96vh;
    width: 32vw;
    box-shadow: rgba(197, 188, 188, 0.35) 0px 5px 15px;
    margin-left: 10vw;
    margin-top: 5vh;
    border-top:4px solid #00aaf8;
    border-bottom:4px solid #00aaf8;
}
.gray{
    width: 46px;
    height: 46px;
    background-color: #e7f5fb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
}
#location{
    background-color: #e7f5fb;
    
    font-size: 20px;
    color: #00aaf8;
    
}
.contact .bot .left .location{
    display: flex;
    margin-left: 8%;
    margin-top: 5vh;
}
.contact .bot .left .location span{
    font-size: 22px;
    font-weight: 600;
    color: #37517e;
    
    margin-left: 10px;
}
.contact .bot .left .location p{
    color: #6182ba;
    margin-left: -80px;
    font-size: 16px;
    margin-top: 35px;
}
.contact .bot .left .location h4{
    color: #6182ba;
    margin-left: -55px;
    font-size: 16px;
    margin-top: 35px;
    font-weight: normal;
}
.contact .bot .left .location h3{
    color: #6182ba;
    margin-left: -40px;
    font-size: 16px;
    margin-top: 35px;
    font-weight: normal;
}
.contact .bot .left iframe{
    margin-left: 30px;
    margin-top: 70px;
}
.contact .bot .right{
    height: 96vh;
    width: 45vw;
    box-shadow: rgba(197, 188, 188, 0.35) 0px 5px 15px;
    margin-left: 2vw;
    margin-top: 5vh;
    border-top:4px solid #00aaf8;
    border-bottom:4px solid #00aaf8;
    padding-top: 25px;
}
.contact .bot .right span{
    color: #999;
    margin-left: 25px;
    margin-top: 50px;
    font-size: 20px;
}
#span1{
    margin-left: 200px;
}
#username{
    height: 45px;
    width: 44%;
    margin-left: 25px;
    margin-top: 10px;
    border: 1px solid rgb(197, 186, 186) ;
    border-radius: 5px;
}
#email{
    height: 45px;
    width: 44%;
    margin-left: 20px;
    margin-top: 10px;
    border: 1px solid rgb(197, 186, 186) ;
    border-radius: 5px;
}
.contact .bot .right p{
    color: #999;
    margin-left: 30px;
    margin-top: 50px;
    font-size: 20px;
}
.contact .bot .right h3{
    color: #999;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: normal;
}
#text{
    height: 45px;
    width: 92%;
    margin-left: 25px;
    margin-top: 5px;
    border: 1px solid rgb(197, 186, 186) ;
    border-radius: 5px;
}
#note{
    height: 250px;
    margin-top: 5px;
    margin-left: 25px;
    width: 92%;
    border: 1px solid rgb(197, 186, 186) ;
    border-radius: 5px;
}
.contact .right button{
height: 50px;
    margin-top: 20px;
    margin-left: 35%;
    padding: 12px 28px;
    background-color: #47b2e4;
    letter-spacing: 1px;
    border: 1px solid #47b2e4;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}
.contact .right button:hover{
    background-color: #0177ff;
    transition: 0.4s;
}
.newsletter{
    height: 34vh;
    background-color: #f3f5fa;
    width: 100%;
}
.newsletter h1{
    padding-top: 5vh;
    color: #37517e;
    font-size: 22px;
    font-weight: 600;
    
    font-family: jost;
    text-align: center;
}
.newsletter p{
    color: #848484;
    font-size: 17px;
    word-spacing: 1px;
    line-height: 1.1;
    font-family: jost;
    margin-top: px;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}
#email1{
    height: 40px;
    width: 35%;
    margin-left: 30%;
    margin-top: 30px;
    border:  rgb(197, 186, 186) ;
    border-radius: 5000px;
}
.newsletter .bot button{
    height: 40px;
    margin-left: -50px;
    padding: 10px 20px;
    background-color: #47b2e4;
    letter-spacing: 1px;
    border: 1px solid #47b2e4;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}
.newsletter .bot button:hover{
    background-color: #0177ff ;
    transition: 0.4s;
}
.footer{
    display: flex;
height: 50vh;
}
.footer .arsha{
    width: 25%;
    margin-top: 40px;
    margin-left: 60px;
}
.footer .arsha ul{
    list-style: none;
    
}
.footer .arsha ul li{
    padding-top: 10px;
}


.footer .arsha  ul li a{
    text-decoration: none;
    color: #5e5e5e;
    padding-top: 20px;
    font-size: 14px;
    cursor: default;
}

#arsha{
    color: #37517e;
    font-size: 28px;
    font-weight: 900;
    cursor: default;
}
#arsha1{
    color: #37517e;
    font-size: 20px;
    font-weight: 900;
    cursor: default;
}
#arrlft{
    
    color: #00aaf8;
    font-size: 18px;
}
.footer .arsha1{
    width: 25%;
    margin-top: 40px;
    margin-left: -30px;
}
.footer .arsha1 ul{
    list-style: none;
    
}
.arsha1 p{
    color: #5e5e5e;
    font-size: 16px;
    cursor: default;
}
.footer .arsha1 ul li{
    padding-top: 10px;
}
.footer .arsha1 .div1{
    display: flex;
    align-items: center;
}


.footer .arsha1  ul li a{
    text-decoration: none;
    color: #5e5e5e;
    vertical-align: middle;
    font-size: 17px;
    
}
.footer .arsha1  ul li a:hover{
    color: #00aaf8;
}

#right2{
    font-size: 20px;
    color: #00aaf8;
    position: relative;
    top: 3px;
    
    
}
.div12{
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
}
.circle12{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00aaf8;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    cursor: pointer;
}
.circle12:hover{
    background-color: #0177ff;
}
#icon123{
    font-size: 20px;
    color: #fff;
}
.end{
    height: 12vh;
    background-color: #142e5a ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.end .left p{
    color: #fff;
    font-family: jost;
}
.end .right p{
    color: #fff;
    font-family: jost;
}
.end .right a{
    color: #0177ff ;
    text-decoration: none;
    font-family: jost;
}
.up{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: #00aaf8;
    border-radius: 50%;
    
    
}

#up{
    color: #fff;
}
@keyframes top-bot{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0px)
    }
}

