.main{
    width: 400px;
    height: 600px;
    margin: 20px auto;
    background-color: chocolate;
    border-radius: 20px;
    border: 1px solid blue;
    display: inline-block;
}
.main img{
height: 200px;
width: 400px;
object-fit: cover;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
}
.main h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    margin: 15px;
}
.main h3{
margin: 20px;
}
.main p{
    margin: 15px;
    text-align: justify;
}

.main img:hover{
    content: url(https://en.lavionprive.fr/img/aircraft/dassault_falcon_7x/dassault_falcon_7x-opt.jpg);

}
.main p:hover{
    background-color: aqua;
    transition: all 1s ease-in-out;
}
/* .paragraf{
    width: 200px;
    display: inline-block;
} */