* {
  margin: 0;
  box-sizing: border-box;
}
.nav {
  height: 10vh;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
}
.nav .left {
  height: 10vh;
  display: flex;
}
.nav .left ul {
  height: 10vh;
  list-style: none;
  display: flex;
  align-items: center;
}
.nav .left ul li {
  padding-left: 8px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 8px;
  cursor: pointer;
}
.nav .left ul li a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
.nav .left ul li:hover {
  background-color: blue;
  color: #fff;
  height: 100%;
}
.nav .right {
  display: flex;
  align-items: center;
  height: 10vh;
}
.nav .right input {
  margin-right: 10px;
  width: 170px;
  height: 27px;
}
.nav .right button {
  background-color: blue;
  color: #fff;
  margin-right: 10px;
  height: 30px;
  width: 70px;
  cursor: pointer;
}

#prva {
  background-color: blue;
}
.dole {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dole .slika {
  width: 500px;
  height: 400px;
  background-color: rgb(189, 179, 179);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dole .slika img {
  width: 500px;
  height: 400px;
  background-size: cover;
}
.dole .slika button {
  color: black;
}
