*{
    margin: 0;
    box-sizing: 0;
}
.main{
    width: 33vw;
    height: 80vh;
    background-color: yellow;
    
}
.box1{
    width: 100px;
    height: 100px;
    background-color: aqua;
    top: 50px;
    left: 50px;
    position: relative;
    z-index: 5;
}
.box2{
    width: 100px;
    height: 100px;
    background-color: rgb(83, 26, 148);
    top: 100px;
    left: 100px;
    position: absolute;
    z-index: 10;
}
.box3{
    width: 100px;
    height: 100px;
    background-color: rgb(24, 114, 21);
    top: 150px;
    left: 150px;
    position: absolute;
    z-index: 100;
}
