*{
    margin: 0;
    box-sizing: border-box;
}
.main{
    width: 200px;
    height: 200px;
    background-color: aqua;

}
.main:nth-of-type(2){
    background-color: antiquewhite;
    /* visibility: hidden; ako izaberemo visibility sadrzaj se sakrije ali nista ne dolazi na njegovo mesto*/
}
.main:nth-of-type(3){
    background-color: rgb(121, 83, 33);
}
.main:nth-of-type(1){
    background-color: rgb(92, 82, 69);
    box-sizing: border-box;
    overflow: auto;
}
/* display:inline - ovde gubimo mogucnost definisanja stilova kao sto su width height padding... */
/* display:block -definisana vrednost za div*/
/* display:none - element nestaje */

.main p{
    line-height: 25px;
}
.second{
    margin: auto;
    width: 700px;
    height: 450px;
    background-image: url(https://www.1zoom.me/big/56/32637-Nika.jpg); 
    background-repeat: no-repeat;
    /* background-size: contain; uzima onliko koliko je slika ne siri je*/
    /* background-size: cover; razvlaci*/
}
